@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  scroll-behavior: smooth;
}

@layer components {
  .btn-primary{
    @apply px-3 py-1 my-1 transition-all text-white bg-[#237AD1] shadow shadow-sky-500 rounded hover:bg-blue-700
  }

  a {
    @apply text-[#237AD1] underline hover:text-blue-800
  }
}